
    @font-face {
        font-family: 'SF Mono Regular';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Regular'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoRegular.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Regular Italic';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Regular Italic'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoRegularItalic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Light';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Light'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoLight.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Light Italic';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Light Italic'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoLightItalic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Medium';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Medium'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoMedium.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Medium Italic';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Medium Italic'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoMediumItalic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Semibold';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Semibold'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoSemibold.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Semibold Italic';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Semibold Italic'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoSemiboldItalic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Bold';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Bold'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoBold.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Bold Italic';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Bold Italic'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoBoldItalic.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Heavy';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Heavy'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoHeavy.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'SF Mono Heavy Italic';
        font-style: normal;
        font-weight: normal;
        src: local('SF Mono Heavy Italic'), url('https://raw.githubusercontent.com/midashofstra/files/main/sf-mono/SFMonoHeavyItalic.woff') format('woff');
        }
